<%- include('partials/broilerup') %>
<%- include('partials/navbarup') %>
<h1 class="m-3 p-3 text-3xl text-blue-800 text-center" >About this website</h1>
<div class="p-5 text-gray-700 md:text-lg text-center">Here you can ask and get things for rent and also put your thing on rent. <br>
It is free to use and explore</div>
<%- include('partials/navbardn') %>
<%- include('partials/broilerdn') %>
<script src="/navlogic.js"></script>