<%- include('partials/broilerup') %>
<%- include('partials/navbarup') %>
<h1 class="m-3 p-3 text-3xl text-blue-800 " >Email Address</h1>
<div class="px-6 text-gray-700 md:text-lg ">onrent2023@gmail.com</div>
<%- include('partials/navbardn') %>
<%- include('partials/broilerdn') %>
<script src="/navlogic.js"></script>