<%- include('partials/broilerup') %>
<style>
    body{
        background-color: rgb(255, 208, 0);
    }
</style>
<%- include('partials/navbarup') %>
        <!-- <div class="bg-yellow-500 h-[100vh] w-[100vw]"> -->
        <div class="self-center">
            <div><h1 class="text-6xl text-blue-600 text-center ">OnRent - Put and Get on Rent</h1></div><br>
            <div class="flex justify-center"><p class="w-96 text-xl text-green-600 py-10 text-center"><img src="https://freepngimg.com/thumb/rent/35373-6-rent-photos.png" alt=""></p></div>
            <div class="flex justify-around">
                <a href="/products/index"><button class="bg-blue-600 text-white hover:bg-blue-900 rounded-full h-16 w-32">Get Started</button></a>
                <a href="/users/loginform"><button class="border-solid border-[3px] border-indigo-700 text-indigo-800 hover:bg-yellow-600 rounded-full h-16 w-32">Log In</button></a>
            </div>
        </div>

<%- include('partials/navbardn') %>

<script src="navlogic.js">
     
</script>
<%- include('partials/broilerdn') %>