<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  </head>
  <body>
    <% if (message!='') { %>
        <div class="alert alert-<%= type %> alert-dismissible fade show" role="alert">
            <strong>Message!</strong> <%= message %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
    <% } %>
    
    <h1 class="m-5 p-5" style="text-align: center;">Register here</h1>
    <form class="m-3 p-3 needs-validation" method="post" action="/users/register" novalidate enctype="multipart/form-data">
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username" aria-describedby="emailHelp" name="username" required>
            <div class="valid-feedback" >Looks good</div>
          </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email address</label>
          <input type="email" class="form-control" id="email" aria-describedby="emailHelp" name="Email" required>
          <div class="valid-feedback" >Looks good</div>
          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div><br>
  
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" id="password" name="password" required>
          <div class="valid-feedback" >Looks good</div>

        </div>
        <div class="mb-3">
          <label for="Photo" class="form-label">Photo</label>
          <input type="file" class="form-control" id="Photo" name="Photo" required>
          <div class="valid-feedback" >Looks good</div>

        </div>
        <div class="mb-3">
          <label for="Phno" class="form-label">Phone Number</label>
          <input type="number" class="form-control" id="Phno" name="Phno" required>
          <div class="valid-feedback" >Looks good</div>
        </div>

        <div class="mb-3">
          <label for="Place" class="form-label">Current Address</label>
          <input type="text" class="form-control" id="Place" name="Place" required>
          <div class="valid-feedback" >Looks good</div>

        </div>
        <div class="mb-3">
          <label for="emailotp" class="form-label">Enter OTP sent to avobe email address</label>
          <input type="number" class="form-control" id="emailotp" aria-describedby="emailHelp" name="EmailOtp" required>
          <div class="valid-feedback" >Looks good</div>
          <!-- <button class="btn btn-primary" id="emailotpb" type="button">Get OTP</button>
          <div id="emailHelp" class="form-text">After clicking Get OTP please wait for 1 minute before clicking it again</div> -->
      </div>
        <div class="mb-3">
          <label for="phoneotp" class="form-label">Enter OTP sent to avobe Phone Number</label>
          <input type="number" class="form-control" id="phoneotp" aria-describedby="emailHelp" name="PhoneOtp" required placeholder="eg. 0000">
          <div class="valid-feedback" >Looks good</div>
          <!-- <button class="btn btn-primary" id="phoneotpb" type="button">Get OTP</button>
            <div id="emailHelp" class="form-text">After clicking Get OTP please wait for 1 minute before clicking it again</div> -->

          </div>
        <div class="mb-3">
            <button class="btn btn-primary" id="otpb" type="button">Get OTPs</button>
            <div id="emailHelp" class="form-text">After clicking Get OTP please wait for 2 minute before clicking it again</div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
  </body>
  <script>
        (function () {
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  var forms = document.querySelectorAll('.needs-validation')

  // Loop over them and prevent submission
  Array.prototype.slice.call(forms)
    .forEach(function (form) {
      form.addEventListener('submit', function (event) {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }

        form.classList.add('was-validated')
      }, false)
    })
})()
  </script>
  <script>
    // document.getElementById('emailotpb').addEventListener('click',async ()=>{
    //   document.getElementById('emailotpb').style.display='none'
    //   setTimeout(()=>{
    //     document.getElementById('emailotpb').style.display=''
    //   },60000)
    //   await fetch(`/verification/email${document.getElementById('email').value}`)
    // })
 
    //   document.getElementById('phoneotpb').addEventListener('click',async ()=>{
    //     document.getElementById('phoneotpb').style.display='none'
    //     setTimeout(()=>{
    //       document.getElementById('phoneotpb').style.display=''
    //     },60000)
    //     await fetch(`/verification/phone${document.getElementById('Phno').value}`)
    //   })

      document.getElementById('otpb').addEventListener('click',async ()=>{
      document.getElementById('otpb').style.display='none'
      setTimeout(()=>{
        document.getElementById('otpb').style.display=''
      },120000)
      await fetch(`/verification/both/email${document.getElementById('email').value}/phone${document.getElementById('Phno').value}`)
    })
    </script>
</html>